#uploadSketch, #uploadPixel {
    display: none;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.canvas-parent {
    /*border: 6px solid #da16da;*/
    background-color: #dcb7dc;
    padding: 10px
}

.btn, .progress {
    margin: 6px;
}
