#uploadSketch, #uploadPixel {
    display: none;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.canvas-parent {
    border: 2px solid #da16da;
    background-color: #ff00ff;
    padding: 10px
}

.btn, .progress {
    margin: 6px;
}